<div class="container">
  <div>
    <form
      name="form"
      #form="ngForm"
      (ngSubmit)="form.valid && onSubmit(form)"
      novalidate
    >
      <div class="form-container">
        <h1 class="form-title">Sign In</h1>
        <div class="field-container">
          <mat-form-field>
            <mat-label for="login-input">Login</mat-label>
            <input
              matInput
              type="text"
              [(ngModel)]="login"
              #loginInput="ngModel"
              placeholder="Nickname or email"
              name="login-input"
              required
              minlength="2"
              maxlength="64"
              pattern="^[a-zA-Z0-9@_.-]*$"
              (ngModelChange)="onLoginInputChange(passwordInput)"
            />
            <mat-error>
              {{ getFirstErrorDescription("Login", loginInput.errors) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label for="password-input">Password</mat-label>
            <input
              matInput
              type="password"
              [(ngModel)]="password"
              #passwordInput="ngModel"
              name="password-input"
              required
              minlength="6"
              maxlength="32"
              (ngModelChange)="onPasswordInputChange(loginInput)"
            />
            <mat-error>
              {{ getFirstErrorDescription("Password", passwordInput.errors) }}
            </mat-error>
          </mat-form-field>

          <section>
            <mat-checkbox [(ngModel)]="rememberMe" name="remember-me-checkbox">
              Remember me
            </mat-checkbox>
          </section>
        </div>

        <div>
          <button mat-raised-button color="primary" type="submit">
            Sign in
          </button>
        </div>

        <div>
          <a [routerLink]="['/sign-up']" [queryParams]="{ returnUrl }">
            Sign up
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
