.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sign-up-link {
  align-self: center;
}

.submit-btn {
  margin-top: 20px;
  align-self: center;
}
