.player-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: center;

  padding: 2em 0;
}

.place {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;

  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;

  color: #fff;
  border: 3px solid #e4e4e4;
  background-color: #c4c4c4;

  cursor: pointer;
}

.player-turn {
  border: 3px solid #3f51b5;
}

.offer {
  max-width: 300px;
  padding: 0.8em;
  background-color: #ffffff;
  border: solid 3px #3f51b5;
  border-radius: 1.5em 0 1.5em 1.5em;
}

.offer-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.decision-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
