html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.multiline-tooltip {
  white-space: pre-line;
}

::ng-deep .multiline-tooltip {
  white-space: pre-line;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 6.5em;
  height: 10em;

  border-radius: 0.5em;
}

.card img {
  max-width: 100%;
  max-height: 100%;

  border-radius: 0.7em;
}
