<div class="container">
  <div class="join-link-container">
    <mat-form-field floatLabel="always" appearance="standard">
      <mat-label id="joinGameLink">Join Game Link</mat-label>
      <input
        aria-labelledby="joinGameLink"
        matInput
        readonly
        value="{{ joinLink }}"
        #joinGameLinkClipboard
      />
    </mat-form-field>

    <div class="copy-button">
      <mat-icon
        [ngxClipboard]="joinGameLinkClipboard"
        matTooltip="Copy join link"
        [matTooltipShowDelay]="500"
        >file_copy</mat-icon
      >
    </div>
  </div>

  <div>
    <mat-form-field floatLabel="always" appearance="outline">
      <mat-label id="lobby">Lobby</mat-label>
      <mat-chip-list aria-labelledby="lobby">
        <mat-chip *ngFor="let player of players">{{
          player.nickname
        }}</mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="action-btn-container">
    <div>
      <button mat-raised-button color="primary" (click)="startGame()">
        Start Game
      </button>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
</div>
