<div class="combat-field">
  <div class="monster-squad">
    <div
      class="card"
      *ngIf="cursePlace"
      [matTooltip]="getCardDescription(cursePlace)"
    >
      <img
        src="{{ getCardImageSrc(cursePlace) }}"
        alt="{{ cursePlace.name }}"
      />
    </div>

    <div
      class="card"
      *ngFor="let monster of monsterSquad"
      [matTooltip]="getCardDescription(monster)"
    >
      <img src="{{ getCardImageSrc(monster) }}" alt="{{ monster.name }}" />
    </div>
  </div>

  <div class="character-squad">
    <div
      *ngFor="let character of characterSquad"
      [matBadge]="character.level"
      [matTooltip]="getCharacterEquipmentDescription(character.equipment)"
      matTooltipClass="multiline-tooltip"
      matTooltipPosition="left"
      class="character"
    >
      {{ getPlayerNicknameAbbreviation(character) }}
    </div>
  </div>

  <div class="action-control-area">
    <ng-template actionControlArea></ng-template>
  </div>
</div>
